.throbber {
    margin-inline: auto;
    aspect-ratio: 1/1;
    width: 75px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: #cdcdcd;
    border-left-color: #cdcdcd;
    border-right-color: #cdcdcd;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
